* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
p,
button {
  font-size: 2rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 2rem 6rem;
  border: none;
  background: #4c6e97;
  color: white;
  cursor: pointer;
}
/*Navigation bar with location styling*/

.main-head {
  background-color: #131c27;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex: 1 1 40rem;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
}

.hero-location {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/image/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-location h3 {
  padding: 2rem;
}
