* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
p,
button {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 2rem 6rem;
  border: none;
  background: #4c6e97;
  color: white;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}
/*Navigation bar with hero styling*/

.main-head {
  background-color: #131c27;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex: 1 1 40rem;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-size: 2.4rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/image/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 2rem;
}

/*Location section*/
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./image/new-york-page.png");
  background-size: 90%;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.location-header {
  width: 90%;
  margin: auto;
}

.location-header h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.location-header h3 {
  padding: 4rem 0rem;
  /*gradient to h3 tag*/
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: -10%;
}

.moving-cloud-1 {
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.3rem;
}
/*adding media query*/
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }
}
